<div class="container">
    
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i66.tinypic.com/6zq1p3.jpg" alt="" />
                <div class="caption">
                    
                    <div class="row">
                        
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" routerLink="cars" >Car Ads</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" height="50px" width="190px" src="http://i63.tinypic.com/2i7brsz.jpg" alt="" />
                <div class="caption">
                   
                    <div class="row">
                        
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" routerLink="mobiles">Mobile Ads</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i67.tinypic.com/rhvndy.jpg" alt="" />
                <div class="caption">
                    
                    <div class="row">
                        
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" routerLink="laptops">Laptop Ads</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>

<router-outlet></router-outlet>