<!--<ul>
  <app-user-item *ngFor="let name of names"
     [name]="name">
  </app-user-item>


<app-user-item [name]="1"></app-user-item>

<app-user-item [name]="2"></app-user-item>

<app-user-item [name]="3"></app-user-item>

</ul>-->
<div class="container">
<form>
  
  <div class="form-group">
    <label >Title:</label>
    <input type="text" class="form-control" placeholder="Enter title" #title>
  </div>
  <div class="form-group">
    <label >Link</label>
    <input type="text" class="form-control" placeholder="Enter link" #link>
  </div>
  
  <button class="btn btn-default btn-success" (click)="AddArticle(title,link)">Add Article</button>
</form>
</div>
<hr/>

<app-user-item *ngFor="let a of sortArticles()" 
[article]="a">
</app-user-item>

